
body {
    padding: 10px;
    overflow: auto;
}

.room {
    border-spacing: 0;
    border-collapse: collapse;
    border: 5px solid tan;
    display: table;
    position: relative;
    table-layout: fixed;
    width: 374px;
}

.room-row {
    display: table-row;
}

.room-tile {
    display: table-cell;
    border: 1px solid #999;
    text-align: center;
    width: 36px;
    height: 36px;
}

img {
    vertical-align: middle;
}

.trash {
    position: absolute;
    z-index: 1;
}
.robot {
    position: absolute;
    z-index: 2;
}