
body {
    padding: 10px;
    overflow: auto;
}

.room {
    position: relative;
    border: 5px solid tan;
    display: inline-block;
}

.room-inner {
    border-spacing: 0;
    border-collapse: collapse;
    display: table;
    table-layout: fixed;
    width: 380px;
}

.room-row {
    display: table-row;
}

.room-tile {
    display: table-cell;
    border: 1px solid #999;
    text-align: center;
    width: 38px;
    height: 38px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.wall-n { border-top: 3px solid tan; }
.wall-e { border-right: 3px solid tan; }
.wall-s { border-bottom: 3px solid tan; }
.wall-w { border-left: 3px solid tan; }

img {
    vertical-align: middle;
}

.trash {
    position: absolute;
    z-index: 1;
    width: 30px;
    height: 30px;
    background: 0 0 url(./trashbagicon.png) transparent no-repeat;
}
.robot {
    position: absolute;
    z-index: 2;
    width: 30px;
    height: 30px;
    background: 0 0 url(./roomba.png) transparent no-repeat;
}